<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="personCtrl">

    <div>First Name:</div>
    <input type="text" ng-model="firstName">
    <div>Last Name:</div>
    <input type="text" ng-model="lastName">
    <div>age:</div>
    <input type="text" ng-model="age">
    <div>first Name: {{name()}}</div>
    <div>last Name: {{lName()}}</div>
    <div>age: {{ages()}}</div>
    <table>

    </table>

</div>
</body>
<footer>

</footer>
</html>