<!doctype html>
<html ng-app="Demo">
<head>
    <meta charset="utf-8" />

    <title>
        Creating A Simple Modal System In AngularJS
    </title>

    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="AppController">

<h1>
    Creating A Simple Modal System In AngularJS
</h1>

<ul>
    <li>
        <a ng-click="alertSomething()">Alert something</a>
    </li>
    <li>
        <a ng-click="confirmSomething()">Confirm something</a>
    </li>
    <li>
        <a ng-click="promptSomething()">Prompt something</a>
    </li>
</ul>


<!--
    BEGIN: Modals Layout.
    --
    Our simple modal system makes the assumption that only one modal window can be
    open at a time. I find this to be a very reasonable assumption for 99% of use-
    cases. And, I'd rather keep it simple and work around the rare use-case in some
    other fashion (such as a multi-state modal).
    To remove any "magic", I'm explicitly presenting the control properties rather
    than trying to hide them behind a compile() step. Notice that rendering a modal
    is JUST LIKE RENDERING ANY OTHER VIEW - we have a subview variable which we are
    using to swap modals, or remove modals altogether.
    The big take-away in the following code is that modal windows aren't a *special*
    concept. They are views or components that work the same exact way that the rest
    of your application works! Sure, there are a few more rules, like only one open
    at a time; but, other than that, there's nothing here that's any different than
    any other view you will build. It has a Controller, it has a View, and it works
    with other services to execute its functionality.
-->
<div
        bn-modals
        ng-show="subview"
        class="m-modals"
        ng-switch="subview">

    <!-- BEGIN: Alert Modal. -->
    <div
            ng-switch-when="alert"
            ng-controller="AlertModalController"
            class="modal">

        <p>
            {{ message }}
        </p>

        <p>
            <a ng-click="close()">Ok, I got it!</a>
        </p>

        <!-- This is to demonstrate that we can jump from one modal to another. -->
        <p>
            <a ng-click="jumpToConfirm()" class="jump">Jump over to the confirm modal</a>
        </p>

    </div>
    <!-- END: Alert Modal. -->


    <!-- BEGIN: Confirm Modal. -->
    <div
            ng-switch-when="confirm"
            ng-controller="ConfirmModalController"
            class="modal">

        <p>
            {{ message }}
        </p>

        <p>
            <a ng-click="confirm()">{{ confirmButton }}</a>
            &mdash;
            <a ng-click="deny()">{{ denyButton }}</a>
        </p>

    </div>
    <!-- END: Confirm Modal. -->


    <!-- BEGIN: Prompt Modal. -->
    <form
            ng-switch-when="prompt"
            ng-controller="PromptModalController"
            ng-submit="submit()"
            class="modal">

        <p>
            {{ message }}
        </p>

        <p ng-if="errorMessage">
            <strong>Sorry:</strong> {{ errorMessage }}
        </p>

        <p>
            <input type="text" ng-model="form.input" />
        </p>

        <p>
            <a ng-click="submit()">Submit</a>
            &mdash;
            <a ng-click="cancel()">Cancel</a>
        </p>

    </form>
    <!-- END: Prompt Modal. -->

</div>
<!-- END: Modals Layout. -->


<!-- Load scripts. -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
<script src="modal.js"></script>
<script type="text/javascript">

</script>

</body>
</html>